extends layout

block content
  if posts
    each post in posts
      .post
        h1
          a(href='/posts/show/'+post._id)
            =post.title
        p.meta Posted in #{post.category} by #{post.author} on #{moment(post.date).format('DD-MM-YYYY, h:mm:ss a')} GMT+6
        img(src='/images/uploads/#{post.content_image}')
        =post.description
        a.more(href='/posts/show/'+post._id) Read more



