extends layout

block content
    h1 Members Area
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra scelerisque orci vitae elementum. Vivamus lobortis, est in condimentum varius, lectus ligula fermentum erat, sollicitudin luctus ligula sapien id velit. Pellentesque consequat mi et nulla auctor, sed condimentum lectus euismod. Vivamus urna erat, porttitor in magna ac, posuere consectetur ipsum. Fusce placerat, enim at pellentesque suscipit, augue dui ultrices diam, non vulputate nulla dui ut dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed eget bibendum est. Suspendisse venenatis tellus eget sapien volutpat pellentesque. In a risus vitae turpis ullamcorper lacinia ac eu tortor. Quisque tempus ipsum molestie urna imperdiet, finibus facilisis lorem porta. Vestibulum a tristique justo. 
