*{
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  color: #666;
}

footer{
  background-color: #f4f4f4;
  margin-top: 40px;
  padding: 10px 0;
  text-align: center;
  overflow: auto;
}

.mycontainer{
  width: 90%;
  background-color: #f5f5f5;
  color: #666;
  border: #ccc solid 1px;
  border-top: #27333d 4px solid;
  padding: 10px;
  padding-top: 20px;
  margin: 20px auto;
}

.logo{
  width: 50%;
  margin: 0 auto;
  display: block;
}

h1, h2, h3, h4, p{
  padding: 0;
  margin-bottom: 0;
}


h1 a,h1 a:hover{
  text-decoration: none;
  color: #666;
}

p{
  margin: 0;
}


ul{
  padding: 0;
  margin: 0;
}

a {
  color: #404137;
  text-decoration: none;
}

nav{
  background: #27333d;
  color: #f4f4f4;
  overflow: auto;
  height: 70px;
  padding: 20px 0 0 10px;
  margin: 20px 0;
  font-size: 18px;
}

nav li{
  float: left;
  list-style: none;
  /* position: relative; */
}

nav a{
  padding: 10px;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

nav a.current, nav a:hover{
  background: #1d4c75;
  color: #fff;
  text-decoration: none;
}

.meta{
  margin-bottom: 0;
  color: #1d4c75;
}

a.more{
  display: block;
  margin-top: 10px;
  background-color: #7a7a7a;
  color: #fff;
  width: 100px;
  padding: 5px;

}
a.more:hover{
  text-decoration: none;
  color: #60e06f;
}

.post{
  margin: 0 70px;
}

.post img{
  width: 100%;
  height: 400px;
}

#messages li{
  margin: 20px 0;
  padding: 10px;
  text-align: center;
  list-style: none;
}

#messages .success{
  background-color: #aef2b6;
  color: #707070;
}

#messages .error{
  background-color: #ff8585;
  color: #707070;
}

.member{
  float: right;
  height: 50px;
  margin-right: 50px;
}

.dropdown{
  display: none;
  height: 60px;
  padding: 10px 0;
  z-index: 100;
}

.member:hover .dropdown{
  background-color: #27333d;
  display: block;
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
}

.member:hover .dropdown ul{
  background-color: #27333d;
  display: block;
  position: absolute;
  height: auto;
  padding: 10px 0;
  width: 150px;
}

.member:hover .dropdown ul li{
  margin: 0;
  text-align: center;
  
}
.member:hover .dropdown ul li a{
  display: block;
}

.member:hover .dropdown ul li a:hover, .member:hover .dropdown ul li a.current{
  padding: 10px;
  color: #60e06f;
  background: none;
}




/*single post page*/
.single-post{
  margin: 0 50px;
  position: relative;
}

.post-image{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 30px;
  width: 80%;
  height: 500px;
}

.single-post img{
  width: 100%;
  height: 100%;
}

.comment-container{
  margin-top: 70px;
  padding: 20px;
}

.author-profile{
  width: 100px;
  height: 100px;
  border: 2px #7a7a7a solid;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 0;
}

.author-profile img{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 2px #7a7a7a solid;
  border-radius: 50%;
}






/*================ comment area =============*/
.comment-area{
  width: 100%;
  height: auto;
  border: 2px #ccc solid;
  padding: 20px;
}
.person-image{
  width: 50px;
  height: 50px;
  border: 1px #7a7a7a solid;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.person-image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.person-info p, .person-info h5{
  margin: 0;
  padding: 0;
}

.person-info .date{
  color: #385375;
}

.person-info a:hover{
  text-decoration: none;
}





/* =================== members Area================== */
.member-profile{
  position: relative;
  margin-top: 50px;
}


.member-profile-image img{
  border: 2px #d6d6d6 solid;
  border-radius: 10px;
}

.member-posts-container{
  position: relative;
}

.member-posts-container hr{
  width: 50%;
  background-color: #60e06f;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.member-posts {
  margin-top: 50px;
}

.member-posts .image-container{
  margin: 20px 50px;
  height: 500px;
}

.image-container img{
  width: 100%;
  height: 100%;
}


